/*
 Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
 Remove default margin
*/
* {
    margin: 0;
}

/*
  Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
 Improve media defaults
*/
img,
svg {
    display: block;
    max-width: 100%;
}

/*
   Remove built-in form typography styles
*/

button {
    font: inherit;
}

/*
   Avoid text overflows
*/
p,
h1,
h2 {
    overflow-wrap: break-word;
}

/* genral styling */

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    inset: 0;
    background-color: #dfe4ed26;
}

.profile-card{
    max-width: 300px;
  
    width: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 6px 8px 7px 5px #f4e6e6;
}

.profile-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 30%;
    width: 100%;
    background-color: #4b4be7;
}

.profile-img {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
        background-color: #4b4be7;
        padding: 3px;
        margin-top: 20px;
}

.profile-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #f0efef;
}

.user-info{
    margin-top: 10px;
}

.user-info h1{
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
}

.user-info p{
    font-size: 0.7rem;
    color: gray;
    font-weight: bold;
}

.contact-link{
    margin-top: 10px;
    display: flex;
    gap: 0.8rem;
    background-color: rgb(253, 253, 253);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.link{
    display: flex;
   color: #fff;
   padding: 6px;
   border-radius: 50%;
}

.contact-link a:first-child{
    background-color: blue;
}

.contact-link a:nth-last-of-type(3){
    background-color: rgb(6, 160, 238);
}

.contact-link a:nth-last-child(2){
    background-color: rgb(234, 8, 83);
}

.contact-link a:last-child{
    background-color: red;
}

.btn{
    display: flex;
    gap: 1rem;
    margin: 15px 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

button{
    border: none;
    padding: 6px 25px;
    font-size: 0.7rem;
    border-radius: 15px;
    background-color: #4b4be7;
    color: #fff;
    cursor: pointer;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 0.7rem;
    font-weight: bold;
    color: gray;
    padding-bottom: 10px;
    flex-wrap: wrap;
}
  

.item1 {
    display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.3rem;
}

.item2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3{
    display: flex;
    align-items: center;
    justify-content: center;
}